html,body {
	margin: 0;
	padding: 0;
}

#container {
  width:80%;
  margin: 0 auto;
  
}

.section {
  padding-top: 150px;
}

header {
    background-color:#628E41;
  position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
nav {
  text-align:center;
}

nav div {
  display: inline-flex;
  overflow: auto;
}

nav a {
  padding: 10px;
}

nav a:hover {
  color: #fff;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:#D3AF1D;
}

h1 {
    font-family: 'Chicle', cursive;
    font-size: 80px;
    color: white;
    letter-spacing: 4px;
    display: flex; 
    justify-content: center;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

h4, p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

ul, li {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

ul {
    columns: 2;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* img {
    height: 500px;
    width: 500px;
}  */

.slider {
/* 	width: 500px; */
    margin: 2em auto;
    position: relative;
}

.slider-wrapper {
/* 	width: 500px; */
	height: 350px;
  background:#333;
	position: relative;
  overflow:hidden
}

.slide {
	float: left;
	position: absolute;
/* 	width: 500px; */
/* 	height: 500px; */
	opacity: 0;
	transition: opacity 1s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

img {
  width:100%;
  position: absolute;
  top:-100%; 
  left:0; 
  right: 0;        
  bottom:-100%;
  margin: auto;
}

.reviews {
    font-style: italic;
    width: 100%;
}
